# Node modules
node_modules/
.babelrc
.babel.config.js

# Expo
.expo/
.expo-shared/
web-build/

# React Native packager
ios/build/
android/app/build/

# Env files
.env
.env.*

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro bundler
.cache/
tmp/
dist/

# macOS
.DS_Store

# Yarn and npm integrity files
package-lock.json
yarn.lock

# IDEs & editors
.vscode/
.idea/
*.swp
